################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ADONetHelper.Snowflake/v15
/bin
/obj
