################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ADONetHelper.Snowflake/v15
/bin
/obj
/.vs/ADONetHelper.Snowflake/DesignTimeBuild
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
